.wrapper {
    min-height: 3.6rem;
    min-width: 10rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding: 0.6rem 0.8rem;
    color: rgb(22, 24, 35);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--white);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    + .wrapper {
        margin-left: 1.6rem;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// button styles
.primary-solid {
    color: var(--white);
    background-color: var(--primary);
    border: none;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.primary-outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.circle-outline {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px;
        background-color: var(--white);
    }
}

// button types
.bigger {
    width: 11.6rem;
    font-weight: 500;
    border-radius: 0.2rem;
}

.large {
    width: 20rem;
    height: 4.8rem;
    font-size: 1.8rem;
}
