// Reset CSS
@import 'normalize.css';
@import './reset.scss';

// Embed fonts
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/Fonts/TikTokDisplayFont-Semibold.woff2') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/Fonts/TikTokDisplayFont-Bold.woff2') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokFont-Regular.woff2') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokFont-Semibold.woff2') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokFont-Bold.woff2') format('opentype');
    font-weight: 700;
}

:root {
    --primary: rgb(254, 44, 85);
    --white: #fff;
    --black: #000;
    --text-color-dark: rgb(22, 24, 35);
    --font-family: 'TikTokFont';
    --header-height: 6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box {
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.3125;
        color: rgb(255, 255, 255);
        padding: 8px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -0.8rem;
    }
}

html {
    font-size: 62.5%;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

body {
    overflow-y: overlay;
    &::-webkit-scrollbar {
        display: none;
    }
}

body,
button {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}
