.wrapper {
}

.container {
    display: flex;
    height: 100rem;
    margin-top: calc(var(--header-height) + 0.1rem);
}

.sidebar {
    min-width: 24rem;
    border-right: 1px solid red;
}

.content {
    flex: 1;
}
