.header {
    --search-width: 50rem;
    --search-btn-width: 5.2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem 0 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    background-color: var(--white);
}

.logo {
    min-width: 30rem;
    img {
        width: 12.8rem;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

    // current user /////////////////////////////////////////////////
    .messages {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color-dark);
        padding: 0 0.3rem;
        margin-left: 3.3rem;
    }

    .inbox {
        position: relative;
        margin-left: 1.6rem;
        cursor: pointer;
    }

    .quantity {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(1.5rem) translateY(-0.6rem);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem 0.6rem;
        border-radius: 999px;
        font-weight: 600;
        font-size: 1.4rem;
        color: rgb(255, 255, 255);
        background: rgb(254, 44, 85);
    }

    .user-avatar {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-left: 2.4rem;
        cursor: pointer;
    }
    // ///////////////////////////////////////////////////////////
}

.plus {
    margin-right: 0.8rem;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.6rem;
    color: var(--text-color-dark);

    &:hover {
        cursor: pointer;
    }
}
