.header {
    --header-height: 6rem;
    --search-width: 50rem;
    --search-btn-width: 5.2rem;

    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem 0 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.logo {
    width: 12.8rem;
    height: auto;
    object-fit: cover;
    object-position: center;
}

// search
.search {
    position: relative;
    min-width: 20rem;
    width: var(--search-width);
    height: 4.6rem;
    display: flex;
    align-items: center;
    padding: 1.3rem 0rem 1.3rem 1.2rem;
    border-radius: 999px;
    border: 1px solid transparent;
    background: rgba(22, 24, 35, 0.06);

    &:hover,
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input {
        flex: 1;
        font-size: 1.6rem;
        margin-left: 0.4rem;
        margin-right: 4.6rem;
        color: var(--text-color-dark);
        caret-color: rgb(254, 44, 85);
        background-color: transparent;
    }

    input:hover ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
        background: rgba(22, 24, 35, 0.06);
    }
}

.load,
.clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: calc(var(--search-btn-width) + 0.1rem);
    transform: translateY(-50%);
    padding: 0.4rem;
    margin-right: 0.6rem;
    color: rgba(22, 24, 35, 0.34);
    background-color: transparent;
}

.search-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-btn-width);
    height: inherit;
    color: rgba(22, 24, 35, 0.34);
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        color: rgba(22, 24, 35, 0.75);
        background: rgba(22, 24, 35, 0.06);
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -0.1rem;
        transform: translateY(-50%);
        width: 0.1rem;
        height: 2.8rem;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-result {
    margin-top: -0.25rem;
    width: var(--search-width);
}

.search-title {
    height: 3rem;
    padding: 0.5rem 1.2rem;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    user-select: none;
}

.view-all-result {
    padding: 1.2rem 1.6rem;
    color: var(--text-color-dark);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.1rem;
    user-select: none;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus {
    margin-right: 0.8rem;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.6rem;
    color: var(--text-color-dark);

    &:hover {
        cursor: pointer;
    }
}
