.header {
    --header-height: 6rem;
    --search-width: 50rem;
    --search-btn-width: 5.2rem;

    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem 0 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.logo {
    min-width: 30rem;
    img {
        width: 12.8rem;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

    // current user /////////////////////////////////////////////////
    .messages {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color-dark);
        padding: 0 0.3rem;
        margin-left: 3.3rem;
    }

    .inbox {
        margin-left: 1.6rem;
        cursor: pointer;
    }

    .user-avatar {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-left: 2.4rem;
        cursor: pointer;
    }
    // ///////////////////////////////////////////////////////////
}

.plus {
    margin-right: 0.8rem;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.6rem;
    color: var(--text-color-dark);

    &:hover {
        cursor: pointer;
    }
}
